@font-face {
  font-family: "IRANYekan";
  src: url("fonts/IRANYekanWebRegular.woff2") format("woff2");
}

#main-calendar-app * {
  box-sizing: border-box;
}

#main-calendar-app {
  min-width: 320px;
  max-width: 720px;
}

$zarebi-purple: #651fff;
$zarebin-grey: rgb(105 103 109 / 35%);

:root {
  --mdc-typography-font-family: "IRANYekan", tahoma;
  --mdc-typography-button-letter-spacing: 0;
  font-family: "IRANYekan", tahoma;
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#day-time {
  font-size: 12px;
}

#time {
  text-align: center;
  letter-spacing: 2px;
}

#jalali-day {
  text-align: center;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 0;
  &.blink {
    background-color: $zarebin-grey;
  }
}

#hijri-day {
  text-align: center;
  opacity: 0.7;
}

#gregorian-day {
  text-align: center;
  padding: 5px 0 0 0;
  opacity: 0.5;
}

#month {
  font-size: 12px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 1.5;
}

mwc-select {
  width: 170px;
  margin: -10px 0 10px 0;
  --mdc-menu-item-height: 30px;
  --mdc-menu-item-text-align: center;
  --mdc-theme-surface: white;
  --mdc-select-fill-color: transparent;
}

mwc-list-item {
  font-size: 14px;
  --mdc-list-side-padding: 10px;
}

#month-hijri {
  opacity: 0.7;
}

#month-gregorian {
  padding-top: 5px;
  opacity: 0.5;
}

#main-calendar {
  padding: 2%;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 $zarebin-grey;
}

table {
  width: 100%;
  height: 100%;
}

table,
th,
td {
  border-spacing: 3px;
  text-align: center;
  table-layout: fixed;
}

td {
  padding: 0 5px;
  border-radius: 5%;
  border: solid $zarebin-grey 0.7px;
}

thead {
  height: 40px;
  background-color: $zarebin-grey;
  font-size: 10px;
  td {
    padding: 0;
  }
}

.today {
  border-radius: 5%;
  color: $zarebi-purple;
  box-shadow: 0 0 3px 1px $zarebi-purple;
}

td:nth-child(7),
.holiday.holiday {
  color: red;
}

.other-month {
  opacity: 0.2;
}

mwc-button {
  border: none;
  --mdc-ripple-color: transparent;
  --mdc-theme-primary: black;
}

#next-month {
  float: left;
  border-bottom: $zarebin-grey solid 1px;
  --mdc-typography-button-font-size: 12px;
  &:active {
    opacity: 0.2;
  }
}

#pervious-month {
  float: right;
  border-bottom: $zarebin-grey solid 1px;
  --mdc-typography-button-font-size: 12px;
  &:active {
    opacity: 0.2;
  }
}

.jalali {
  font-size: 18px;
  margin-bottom: 5px;
}

.foreign-calendar {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  opacity: 0.5;
  line-height: 1;
}

.hijri {
  float: right;
}

.gregorian {
  float: left;
  font-size: 0.6rem;
  line-height: 1.2;
}

#go-to-today {
  width: 100%;
  margin: 15px 0 0 0;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 $zarebin-grey;
  --mdc-typography-button-font-size: 18px;
  &:active {
    opacity: 0.2;
  }
}

#main-occasion {
  padding-bottom: 10px;
}

#occasion {
  line-height: 2;
  text-align: center;
  border-bottom: $zarebin-grey solid 1px;
  --mdc-typography-button-font-size: 16px;
  &::before,
  &::after {
    content: "\25BC";
  }
  &.active::before {
    content: "\25C0";
  }
  &.active::after {
    content: "\25B6";
  }
}

#occasions {
  font-size: 12px;
  line-height: 1.8;
  opacity: 0;
  height: 0;
  padding: 0;
  transition: all 0.3s;
  &.active {
    opacity: 1;
    padding: 10px 0;
    height: auto;
    border-bottom: $zarebin-grey solid 1px;
  }
}

.clear {
  clear: both;
}
