@font-face {
   font-family: "IRANYekan";
   src: url("fonts/IRANYekanWebRegular.woff2") format("woff");
}

$zarebi-purple: #651fff;
$zarebin-grey: rgb(200, 200, 200);

:root {
   font-family: "IRANYekan", tahoma;
   direction: rtl;
}

h1,
h2,
h3,
h4,
h5 {
   margin: 0;
}

#calendar-app {
   margin: 20px;
}

#day-time {
   display: flex;
   justify-content: space-between;
   width: 600px;
   margin-right: 10px;
   font-size: 24px;
}

#time {
   text-align: center;
   margin: 20px 10px;
   padding: 5px;
}

#day {
   text-align: center;
   margin: 20px 10px;
   border-radius: 5px;
   padding: 5px;
}

#month {
   font-size: 18px;
   padding-bottom: 20px;
   text-align: center;
   line-height: 1.5;
}

#mainCalendar {
   width: 600px;
   float: right;
   padding: 10px;
   box-shadow: 0 0 20px 5px $zarebin-grey;
   margin: 0 0 30px 30px;
   border-radius: 1%;
}

table,
th,
td {
   border-collapse: collapse;
   text-align: center;
   table-layout: fixed;
}

table {
   width: 100%;
   height: 100%;
}

thead {
   height: 50px;
   background-color: $zarebin-grey;
   text-align: center;
   font-size: 16px;
}

td {
   padding: 5px;
}

.today {
   border-radius: 5%;
   color: $zarebi-purple;
   box-shadow: 0 0 0 2px $zarebi-purple;
}

td:nth-child(7),
.holiday.holiday {
   color: red;
}

.other-month {
   opacity: 0.2;
}

#monthGhamari {
   opacity: 0.7;
}

#monthMiladi {
   padding-top: 5px;
   opacity: 0.5;
}

#nextMonth {
   float: left;
   padding-bottom: 3px;
   border-bottom: $zarebin-grey solid 2px;
   --mdc-typography-button-font-size: 16px;
   &:active {
      opacity: 0.2;
   }
}

#perviousMonth {
   float: right;
   padding-bottom: 3px;
   border-bottom: $zarebin-grey solid 2px;
   --mdc-typography-button-font-size: 16px;
   &:active {
      opacity: 0.2;
   }
}

#goToToday {
   width: 600px;
   margin: 0 10px 30px 0;
   padding-bottom: 3px;
   border-radius: 5px;
   box-shadow: 0 0 10px 1px $zarebin-grey;
   --mdc-typography-button-font-size: 26px;
   &:active {
      opacity: 0.2;
   }
}

.shamsi {
   font-size: 25px;
   margin-bottom: 5px;
}

.miladi {
   font-size: 17px;
   float: right;
   margin-right: 5px;
   opacity: 0.7;
}

.ghamari {
   font-size: 17px;
   float: left;
   margin-left: 5px;
   opacity: 0.7;
}

#mainMonasebat {
   width: 620px;
   float: right;
   padding-bottom: 20px;
}

#monasebat {
   position: relative;
   z-index: 1;
   font-size: 18px;
   padding-bottom: 10px;
   border-bottom: black solid 1px;
   h2 {
      &::before {
         content: "+   ";
      }
      &.active::before {
         content: "ــ   ";
      }
   }
}

#monasebatha {
   font-size: 18px;
   line-height: 1.8;
   opacity: 0;
   transform: translateY(-2%);
   height: 0;
   padding-top: 0;
   transition: all 0.5s;
   &.active {
      opacity: 1;
      transform: translateY(0);
      padding-top: 20px;
      height: auto;
   }
}

.clear {
   clear: both;
}

mwc-button {
   background-color: transparent;
   border: none;
   --mdc-typography-font-family: "IRANYekan", tahoma;
   --mdc-ripple-color: transparent;
   --mdc-typography-button-letter-spacing: 0;
   --mdc-theme-primary: black;
}
