.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #00c6ac;
}

.header {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    height: 9vh;
    text-align: center;
    background-color: white;
}

.container {
    display: flexblock;
    align-items: center;
    flex-direction: column;
}

#wheel {
    width: 400px;
    height: 400px;
}

#selector {
    width: 60px;
    height: 20px;
    color: yellow;
    position: sticky;
}


/******************switcher*****************/

.toggle {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    padding: 10px;
}

.label {
    padding: 7px;
}

.switch {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #c8d0d6;
}

input:focus+.slider {
    box-shadow: 0 0 1px #c8cacc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*********** button ************/

.footer {
    display: block;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    height: 9vh;
    text-align: center;
    background-color: #00c6ac;
}

button {
    position: relative;
    background: #ffffff;
    border-color: white;
    color: black;
    font: bold 20px/1 arial, sans-serif;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 0px 0px 0px 0px;
}


/*************** drop down ***************/

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    height: 300px;
    overflow-y: scroll;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e0dcdc
}

.dropdown:hover .dropdown-content {
    display: block;
}