.container {
    display: flexblock;
    align-items: center;
    flex-direction: column;
}

#wheel {
    width: 400px;
    height: 400px;
}

#selector {
    width: 60px;
    height: 20px;
    color: yellow;
    position: sticky;
    padding: 50px;
}


/*********** button ************/

.footer {
    display: block;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    height: 9vh;
    text-align: center;
    background-color: #00c6ac;
}

button {
    position: relative;
    background: #ffffff;
    border-color: white;
    color: black;
    font: bold 20px/1 arial, sans-serif;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 0px 0px 0px 0px;
}