.panel{
    width: 650px;
    border: 1px solid rgba(33, 33, 33,0.08);
    border-radius: 10px;
    .paletteWrapper{
        display: flex;
        flex-wrap: nowrap;
        .wrapperRight{
            flex-basis: 68%;
        }
        .wrapperLeft{
            flex-basis: 32%;
        }
    }
}