.pointer{
    width: 20px;
    height: 20px;
    border-radius: 29px;
    position: absolute;
    // top: 40px;
    // left: 80px;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    z-index: 10;
}
