@font-face {
    font-family: Yekan;
    src: url(../font/Yekan.ttf) format('ttf');
  }
body{
    --mdc-theme-primary: #651fff;
    --mdc-typography-font-family : 'Yekan' ;
}
#root {
    width: 600px;
    margin-top: 0;
    margin-bottom: 30px;
}
#whole {
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    position: relative;
    padding: 20px 16px 24px;
    background-color: #fff;
    width: 618px;

}
.pic mwc-list-item:not(.Length)  {
    display: none;
}
mwc-select {
    border: 1px solid #dadce0;
}
#header  mwc-select{
    color: #000;
    background-position-x: 98%;
    width: 449px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    // height: 10px;

    
}

.bottom-selections {
    display: inline-block;
    width: 220px;
    padding-top: 10px;
    align-items: center;
}
mwc-textfield {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 2px 2px 0 0;
    // padding: 1px 6px;
    text-align: center;
    width: 201px;

}

#bottom mwc-select {
    background-position-x: 95%;
    border: 1px solid #dadce0;
    border-radius: 0 0 2px 2px;
    color: #202124;
    width: 201px;
    margin-top: -1px;
    // padding: 5px 7px 5px 5px;

}
#center {
    display: inline-block;
    line-height: 44px;
    width: 27px;
    text-align: center;
    font-size: 26px;
    color: #70757a;
    padding: 10px 13px 0 0;
    // padding-top: 10px;
    vertical-align: top;
    // margin-left: -4px;
    // margin-right: -4px;
}
